version: '3'

services:
  # 1. PROXY
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro

  # 2. SSL COMPANION
  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    restart: always
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/acme.sh
    environment:
      - DEFAULT_EMAIL=wadeea@strefqa.com

  # 3. YOUR APP
  flutter-app:
    build:
      context: .. # <--- Go up to 'efteqad-strefqa' root
      dockerfile: webapp/Dockerfile # <--- Path to file relative to Root
    container_name: wadeea-web
    restart: always
    expose:
      - "80"
    environment:
      - VIRTUAL_HOST=wadeea.strefqa.com,www.wadeea.strefqa.com
      - LETSENCRYPT_HOST=wadeea.strefqa.com,www.wadeea.strefqa.com

volumes:
  certs:
  vhost:
  html:
  acme:
